@import '../../styles/common';

.map {
  padding: 10px 20px;
  width: 100%;
  svg {
    width: 100%;
    height: auto;
    g {
      fill: $map-default-fill;
      stroke-width: 2px;
      stroke: $map-stroke-color;
      stroke-linecap: round;
      stroke-opacity: 0.5;
      transition: 0.3s all ease-in-out;
    }
    g[data-known='true'] {
      fill: $map-known-fill;
    }
  }
}
