.map {
  padding: 20px;
  width: 100%;
  svg {
    width: 100%;
    height: auto;
    g {
      fill: rgba(0, 0, 0, 0.1);
      stroke-width: 2px;
      stroke: white;
      stroke-linecap: round;
      stroke-opacity: 0.5;
    }
  }
}
